.navbar {
    background: linear-gradient(90deg, rgb(41, 67, 92) 0%, rgb(21, 42, 56) 100%);
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    max-width: 1500px;
}

.navbar-logo {
    position: center;
    color: rgb(209, 212, 201);
    justify-self: start;
    margin-left: 20px;
    width: 100%;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
}

.nav-links {
    color: rgb(209, 212, 201);
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
}

.nav-item {
    display: flex;
    align-items: center;
    height: 100%;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 60vw;
    justify-content: end;
    margin-right: 2rem;
}

#logOutBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    color: rgb(209, 212, 201);
    background-color: rgb(110, 83, 85);
}