.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.login-form {
  background: #e8eddf;
  padding: 0px 60px;
  border: 2px solid #1c9c76;
  border-radius: 10px;
  overflow: hidden;
}

.login-container h1 {
  color: #1c9c76;
  margin-top: 10px;
  text-align: center;
}

.login-container button {
  width: 100%;
  height: 50px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

#buttonLoginSubmit {
  margin-top: 15px;
  color: #e8eddf;
  background-color: #1c9c76;
}

#buttonRegister {
  margin-top: 5px;
  margin-bottom: 10px;
  color: #1c9c76;
  background-color: #e8eddf;
  border: 2px solid #1c9c76;
}
