.register-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 90vh;
    background: radial-gradient(
        rgb(41, 67, 92),
        rgb(21, 42, 56)
    );
}

.register-form {
    background: rgb(209, 212, 201);
    padding: 0px 60px;
    border: 2px solid rgb(85, 110, 83);
    border-radius: 10px;
    min-width: 500px;
}

.register-container h1 {
    color: rgb(85, 110, 83);
    margin-top: 10px;
    text-align: center;
}

.register-container button {
    width: 100%;
    height: 50px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

#buttonRegisterSubmit {
    margin-top: 15px;
    color: rgb(209, 212, 201);
    background-color: rgb(85, 110, 83);
}

#buttonLogin {
    margin-top: 5px;
    margin-bottom: 10px;
    color: rgb(85, 110, 83);
    background-color: rgb(209, 212, 201);
    border: 2px solid rgb(85, 110, 83);
}